@font-face {
    font-family: bagerich;
    src: url('/fontes/bagerichdemo.otf');

}

@font-face {
    font-family: audience;
    src: url('/fontes/Audience.otf');
    src: url('/fontes/Audience.ttf');

}
@font-face {
    font-family: tropic-fantasy;
    src: url('/fontes/tropic-fantasy.otf')

}

/*CORPO */
body{
    background-image: url(imagens/textura.png);
    background-size: auto;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    border: 0;
    }
   
/* Estilo para a barra de navegação */
nav {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    letter-spacing: 3px;
    margin-left: 32px;
  }

.container {
    text-align: center;
}



.bloco {
    width: 550px;
    height: 500px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 35px;
    display: inline-block;
    vertical-align: top; /* Alinha os elementos ao topo para garantir que fiquem alinhados corretamente */
}



/* Faixas */

.text-wrapper {
display: flex;
padding-top: 8px;

}

#text-wrapper1{
    background: white;
    transform: rotate(-2deg);
    z-index: 1;  
    position: relative;
    margin-bottom: 20px;
}

#text-wrapper2{
    background: black;
    transform: rotate(2deg);
    z-index: 2;
    
}
.text-wrapper h1{
    white-space: nowrap;
    font-family:tropic-fantasy;
    font-size: 72px;
    padding: 0;
    margin: 20px;
    transform: scalex(10);
    display: inline;

}
#text-wrapper1 h1{
    color: black;
    animation: animafaixa 25s linear infinite;
}
#text-wrapper2 h1{
    color: white;
    animation: animafaixa 25s linear infinite reverse;
}

@keyframes animafaixa{
    0% {
        transform: translateX(0%);
    } 100% {
        transform: translate(-100%);
    }
}